*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
html{
    font-size: 50%
}
body{
    background-color: white;
}
/* HEADER */
header{
    display: grid;
    grid-template-columns: 33% 67%;
    grid-template-rows: 100%;
    grid-template-areas: "logo titulo";
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow:auto;
    align-items: center;
    justify-items: center;
    height: 100px;
}

#logo{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    grid-area: logo;
}
.tituloUno{
    height: 100%;
    width: 100%;
    grid-area: titulo;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
h1{
    color: whitesmoke;
    font-size: 3rem;
}

/* barra de navegacion principal */

   /*boton abrir cerrar*/
.controlMenu{
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.controlMenu img{
    height: 20px;
    border-radius: 50%;
    opacity: 1
}
.controlMenu img:hover{
    opacity: 0.3;
}
#navegador:target .navegador__lista{
    height: 160px;
    transition: height 0.4s ease-in-out 0s;
}
.close{
    display: none;
}
#navegador:target .open{
    display: none;
}
#navegador:target .close{
    display: block;
}
  /*fin boton*/
a{
    text-decoration: none !important;
    color: whitesmoke !important;
}

#navegador{
    font-size: 1.25rem;
    background-color: rgb(15, 15, 15);
    position: sticky;
    top: 0;
    z-index: 9;
}
.navegador__lista{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease-in-out 0s;
}
.navegador__item{
    text-align: center;
}
.navegador__item--activo{
    background-color: rgb(40, 40, 40);
    background-size: cover;
}

ul{
    list-style: none;
    padding: 0 !important;
}

/* Cosito flotante de whatsapp*/
.wsapp{
    position:fixed;
    left: 70%;
    bottom: 20%;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    z-index: 10;
    opacity: 0.9;
    transition: height 1s width 1s;
}
.wsapp:hover{
    opacity: 1;
    width: 120px;
    height: 120px;
}
/* Banner del index */
.bannerContainer{
    height: 200px;
    width: 100%;
    overflow: hidden;
    margin-top: 25px;
    margin-bottom: 15px;
    position: relative;
    background-image: url(images/cinnamonrolls1.jpg);
    background-size: cover;
    background-position: center;
}
#transparenciaBanner{
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.521);
}
#textoBanner{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
.tituloIndex{
    color: black;
    font-size: 2.88rem;
}

.sloganIndex{
    color: #4c4c4e;
    text-align: center;
    font-size: 1.875rem;
    font-weight: 600;
}
/*segundo box del index*/

#segundoBoxIndex{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 220px 150px 220px;
    grid-template-areas:"fotoUno"
                        "comentario"
                        "fotoDos";
    align-items: center;
    justify-items: center;
    overflow: hidden;
}

#comentarioIndex{
    text-align: center;
    grid-area: comentario;
    width: 60%;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #4c4c4e;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 130px;
    font-size: 1.3rem;
}
#comentarioIndex h2{
    font-size: 2.5rem;
}
#fotoUno{
    grid-area: fotoUno;
    width: 160px;
    border-radius: 20%;
}
#fotoDosTres{
    grid-area: fotoDos;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    overflow: hidden;
}
#fotoDesktop{
    width: 0;
    border-radius: 20%;
}
#fotoDos{
    width: 40%;
    border-radius: 20%;
}
#fotoTres{
    width: 40%;
    border-radius: 20%;
}
#linkSinEstilo{
    color: black;
}

/*box de toppings index*/
.tituloPa{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.tituloHi{
    width: 60%;
    font-size: 2rem;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: #4c4c4e;
}
.textosTopping{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
    grid-template-areas: 
    "f1"
    "t1"
    "f2"
    "t2"
    "f3"
    "t3"
    "f4"
    "t4";
    align-items: center;
    justify-items: center;
    overflow: hidden;
    color: black;
    text-align: center;
}
.textosTopping img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transition: height 1s width 1s;
}
#toppingUno{
    grid-area: f1;
}
#toppingDos{
    grid-area: f2;
}
#toppingTres{
    grid-area: f3;
}
#toppingCuatro{
    grid-area: f4;
}
.textosTopping__bloque{
    width: 60%;
    font-size: 1.5rem;
}
.textosTopping__bloque h3{
    font-size: 2rem;
}
.textosTopping__bloque--primero{
    grid-area: t1;
}
.textosTopping__bloque--segundo{
    grid-area: t2;
}
.textosTopping__bloque--tercero{
    grid-area: t3;
}
.textosTopping__bloque--cuarto{
    grid-area: t4;
}
/*aqui empieza el footer*/

footer{
    background-color: rgb(0, 0, 0);
    padding-left: 15px;
}
.titulosFooter{
    font-size: 1.25rem;
    color: whitesmoke;
}
footer nav{
    font-size: 0.93rem;
}
.cajaMailing{
    color:whitesmoke;
    width: 30%;
}
span{
    text-decoration: underline;
}

#pedidosEspeciales{
    color:black;
}
#copyright{
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: whitesmoke;
    padding-bottom: 10px;
}
/*MENU*/
.contenedorMenu{
    display: flex;
    flex-flow: row, nowrap;
    justify-content: center;
}
#tablaMenu{
    background-color:rgb(202, 165, 138) ;
    color: whitesmoke;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    border-collapse: collapse;
}
th{
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}
td{
    padding-left: 5px;
    padding-right: 5px;
}    
.tablaOsc{
    background-color: rgb(202, 165, 138)
}
.tablaCla{
    background-color: rgb(175, 132, 100);
}
#pedidosEspeciales{
    margin-bottom: 25px;
    text-align: center;
}
#pedidosAca{
    color: black;
}


/*COMO PEDIR*/
.parrafosCentrados{
    text-align: center;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.parrafosCentrados p{
    width: 50%;
}
#grillaPasos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "lista foto1"
                        "foto2 texto";
    align-items: center;
    justify-items: center;
    overflow: hidden;
    margin-bottom: 25px;

}
#grillaPasos img{
    width: 80%;
    border-radius: 20%;
}
#listaPasos{
    grid-area: lista;
    font-size: 1.1rem;
    font-weight: 600;
    list-style: disc;
}
#listaPasos li{
    padding-top: 5px;
    padding-bottom: 5px;
}
#fotoPasos1{
    grid-area: foto1;
}
#fotoPasos2{
    grid-area: foto2;
}
#textoPasos{
    grid-area: texto;
    width: 60%;
    font-size: 1.6rem;
}
/*SOBRE NOSOTROS*/
.grid{
    display: grid;
    grid-template-columns: repeat(15%*5);
    grid-template-rows: 50% 50%;
    grid-template-areas: "foto1 foto2 foto3 foto4 foto5"
                         "foto6 foto7 foto8 foto9 foto10";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;
    align-items: center;
    margin-bottom: 200px;
                        }
#fotoGaleria1{
    grid-area: foto1;
    height: auto;
}
#fotoGaleria2{
    grid-area: foto2;
    height: auto;
}
#fotoGaleria3{
    grid-area: foto3;
    height: auto;
}
#fotoGaleria4{
    grid-area: foto4;
    height: auto;
}
#fotoGaleria5{
    grid-area: foto5;
    height: auto;
}
#fotoGaleria6{
    grid-area: foto6;
    height: auto;
}
#fotoGaleria7{
    grid-area: foto7;
    height: auto;
}
#fotoGaleria8{
    grid-area: foto8;
    height: auto;
}
#fotoGaleria9{
    grid-area: foto9;
    height: auto;
}
#fotoGaleria10{
    grid-area: foto10;
    height: auto;
}

/*CONTACTO*/
.contacto{
    margin-top: 25px;
    display: inline-block;
    position: relative;
    left: 33%;
    margin-bottom: 50px;
}
legend{
    font-size: 1.25rem;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
}
.contactoForm{
    background-color: #4c4c4e;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}
fieldset{
    position: relative;
    width: 400px;    
    border-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;
    color: whitesmoke;
    text-align: center;
}
.titulosForm{
    font-weight: 600;
}
#submit{
    margin-top: 5px;
    margin-bottom: 5px;
}
label{
    margin-top: 5px;
    margin-bottom: 5px;
}
input{
    margin-top: 5px;
    margin-bottom: 5px;
}

/*MEDIA QUERIES*/

@media only screen and (min-width:1024px) {
    html{
        font-size: 100%;
    }
    header{
        grid-template-columns: 15% 85%;
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;
        justify-items: center;
        height: 160px;
    }
    
    #logo{
        width: 150px;
        height: 150px;
    }
    .tituloUno{
        align-items: center;
        justify-content: flex-start;
    }
    /*NAV BAR*/
    .controlMenu{
        display: none;
    }
    .navegador__lista{
        flex-flow: row nowrap;
        justify-content: space-around;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 40px;
    }
    .navegador__item{
        width: 200px;
    }

    /* Cosito flotante de whatsapp*/
    .wsapp{
        left: 90%;
        bottom: 15%;
        width: 100px;
        height: 100px;
        }
    /*INDEX*/
    .bannerContainer{
        margin-top: 40px;
        height: 480px;
    }
    /*SEGUNDO BOX INDEX*/
    #segundoBoxIndex{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 400px 500px;
        grid-template-areas:"comentario fotoUno"
                            "fotoDos fotoDos";
        align-items: center;
        justify-items: center;
    }
    #comentarioIndex{
        height: 70%;
        width: 70%;
    }
    #fotoDosTres{
        height: 100%;
        justify-content: space-around;
        align-items: center;
        width: 100% ;
    }
    #fotoUno{
        width: 45%;
        }
    #fotoDos{
        width: 300px;
        }
    #fotoDesktop{
        width: 300px;
    }
    #fotoTres{
        width: 300px;
        }
    /*GRID TOPPINGS*/
    .textosTopping{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "f1 f2 f3 f4"
        "t1 t2 t3 t4";
        align-items: flex-start;
        grid-row-gap: 10px;
        margin-bottom: 20px;
    }
    .textosTopping__bloque--tercero h3{
        font-size: 1.8rem;
    }
    .textosTopping img:hover{
        height: 220px;
        width: 220px;
        }
}